* {
	background-color: #2B2ACE;
}

img.resize {
	width: 400px;
	height: auto;
	/*position: fixed;*/
	display: block;
	margin: 0 auto;
}

.nav-item {
	font-size: small;
}

a:hover {
	background-color: white;
}